Java/out/
kotlin/.gradle/
kotlin/build/
kotlin/gradle/
kotlin/.idea/
Java/.idea/
kotlin/gradlew
kotlin/gradlew.bat
kotlin/local.properties
Java/projectFilesBackup/
/CSharpApps/HealthCheckOptimizer/bin/Debug
/CSharpApps/HealthCheckOptimizer/obj/Debug/net7.0
/CSharpApps/HealthCheckOptimizer/obj/Debug/net9.0
/CSharpApps/HealthCheckOptimizer/obj
/Java/com/bh
/Java/.idea
/kotlin/bin
/rust/target/debug/.fingerprint
/rust/target/debug
rust/Cargo.lock
*.class
/.vs
/rust/target
/.vscode
/CPlusPlus/cmake-build-debug
