Java/out/
kotlin/.gradle/
kotlin/build/
kotlin/gradle/
kotlin/.idea/
Java/.idea/
kotlin/gradlew
kotlin/gradlew.bat
kotlin/local.properties
Java/projectFilesBackup/
/CSharpApps/HealthCheckOptimizer/bin/Debug
/CSharpApps/HealthCheckOptimizer/obj/Debug/net7.0
/CSharpApps/HealthCheckOptimizer/obj/Debug/net9.0
/CSharpApps/HealthCheckOptimizer/obj
/Java/com/bh
/Java/.idea
/kotlin/bin
/rust/target/debug/.fingerprint
/rust/target/debug
rust/Cargo.lock
*.class
/.vs
/rust/target
/.vscode
/CPlusPlus/cmake-build-debug
/CPlusPlus/.idea
CPlusPlus/Fibonacci
CPlusPlus/no0001_Two_Sum
CPlusPlus/truetelCodingQuestions
CPlusPlus/Fibonacci.exe
CPlusPlus/no0001_Two_Sum.exe
CPlusPlus/truetelCodingQuestions.exe
CPlusPlus/no0003_Longest_Substring_Without_Repeating_Characters
CPlusPlus/no1116_Print_Zero_Even_Odd
CPlusPlus/no0027_Remove_Element
CPlusPlus/no0146_LRU_Cache
CPlusPlus/no0206_Reverse_Linked_List
CPlusPlus/no1188_Design_Bounded_Blocking_Queue
CPlusPlus/no1768_Merge_Strings_Alternately
CPlusPlus/Breadh_First_Search
CPlusPlus/main
CPlusPlus/no0056_Merge_Intervals
CPlusPlus/main.exe
CPlusPlus/no0226_Invert_Binary_Tree
CPlusPlus/no0226_Invert_Binary_Tree.exe
*.exe
CPlusPlus/Binary_Search
CPlusPlus/no0005_Longest_Palindromic_Substring
CPlusPlus/no0035_Search_Insert_Position
CPlusPlus/no0373_Find_K_Pairs_with_Smallest_Sums
CPlusPlus/no0442_Find_All_Duplicates_in_an_Array
CPlusPlus/Depth_First_Search
CPlusPlus/no0058_Length_of_Last_Word
CPlusPlus/Quick_Sort
CPlusPlus/test_merge_k_lists
CPlusPlus/test_merge_k_sorted
CPlusPlus/Merge_k_Sorted_Array
CPlusPlus/no0021_Merge_Two_Sorted_Lists
CPlusPlus/generate_unique_ips
CPlusPlus/no0020_Valid_Parentheses
/CPlusPlus/no0058_Length_of_Last_Word.dSYM
